
body
{
   background-color: #990033; 

}

#heading
{
   background-color: #e6e6e6;
       display: block;
       margin: 50px;
       padding: 0;
       border: 20px ;
       border-radius: 7pt;
}
h1
{
	font-family: sans-serif;
	color: #800020;
	position: relative;
	top: 25px;
}

.navbar
{
	text-align: center;
	text-decoration: none;
	display: block;
	
}

.navbar li
{
	list-style-type: none;
	display: inline;
	padding: 15px;
	margin: 0px;
	background-color: #e6e6e6;
    text-decoration: none;
}

.navbar ul
{
	overflow: hidden;	
	background-color: #e6e6e6;
	padding: 10px;
	text-decoration: none;
	display: block;
	border-radius: 7pt;
}

a
{
	text-decoration: none;
	color: #800020;
	font-size: 20px;
}

a:hover, a:active
{
	background-color: #ff88a6;
	text-decoration: none;
	
}

hr
{
	border-color: #800020;
	width: 1000px;
	
}
 .footer {
        background-color: #e6e6e6;
       display: block;
       margin: 50px;
       padding: 5px;
       min-height: 50px;
       border: 20px ;
       border-radius: 7pt;
       }
h2
{
	text-decoration: none;
	color: #D3D3D3;
	font-size: 35px
}