
        body{
        background-color:#990033;
        color: aliceblue;
        }
       .footer {
        background-color: grey;
       display: block;
       margin: 50px;
       padding: 5px;
       min-height: 50px;
       border: 20px ;
       border-radius: 7pt;
       }
       .main {
       min-height: 200px;
       max-width: 1000px;
       margin: 200px;
       padding: 0px;
       display: -webkit-flex;
       display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
       }
           div.ifra{
           position: absolute
               top: 0px;
           
           }
    
   
 
