
        body{
        background-color:#990033;
        color: aliceblue;
        }
       .footer {
        background-color: #D3D3D3;
       display: block;
       margin: 50px;#
       padding: 5px;
       min-height: 50px;
       border: 20px ;
       border-radius: 7pt;
	   color: black;
       }
       .main {
       min-height: 200px;
       max-width: 1000px;
       margin: 200px;
       padding: 0px;
       display: -webkit-flex;
       display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
       }
           div.ifra{
           position: absolute
               top: 0px;
           
           }
    
.header
{
   background-color: #D3D3D3;
       display: block;
       margin: 50px;
       padding: 0;
       border: 20px ;
       border-radius: 7pt;
}
h1
{
	font-family: sans-serif;
	color: #800020;
	position: relative;
	top: 25px;
}

h3
{
	color: black;
}

.navbar
{
	text-align: center;
	text-decoration: none;
	display: block;
	
}

.navbar li
{
	list-style-type: none;
	display: inline;
	padding: 15px;
	margin: 0px;
	background-color: #D3D3D3;
    text-decoration: none;
}

.navbar ul
{
	overflow: hidden;	
	background-color: #D3D3D3;
	padding: 10px;
	text-decoration: none;
	display: block;
	
}

a
{
	text-decoration: none;
	color: #800020;
	font-size: 20px;
}

a:hover, a:active
{
	background-color: #ff88a6;
	padding: inherit;
	text-decoration: none;
	
}

hr
{
	border-color: #800020;
	width: 1000px;
	
   
 
